html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: var(--white-primary);
  vertical-align: middle;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 1;
  color: var(--text-color-primary);
}

*,
*::before,
*::after,
button,
ul,
li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  background: none;
  border: none;
  list-style: none;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.loader-place-br {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* Transitions */

.list-enter-active,
.list-leave-active {
  transition: all 0.25s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.error-enter-active,
.error-leave-active {
  transition: all 0.25s ease;
}
.error-enter-from,
.error-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.25s ease-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

// .page-enter-active {
//   transition: all 0.25s ease-out;
// }
// .page-enter-from,
// .page-leave-to {
//   opacity: 0;
//   transform: translateY(-50px);
// }

// .layout-enter-active {
//   transition: all 0.25s ease-out;
// }
// .layout-enter-from,
// .layout-leave-to {
//   transform: translateX(100px);
// }

// .slide-left-enter-active,
// .slide-left-leave-active,
// .slide-right-enter-active,
// .slide-right-leave-active {
//   transition: all 0.2s;
// }
// .slide-left-enter-from {
//   opacity: 0;
//   transform: translate(50px, 0);
// }
// .slide-left-leave-to {
//   opacity: 0;
//   transform: translate(-50px, 0);
// }
// .slide-right-enter-from {
//   opacity: 0;
//   transform: translate(-50px, 0);
// }
// .slide-right-leave-to {
//   opacity: 0;
//   transform: translate(50px, 0);
// }

// .bounce-enter-active {
//   animation: bounce-in 0.8s;
// }
// .bounce-leave-active {
//   animation: bounce-out 0.5s;
// }
// @keyframes bounce-in {
//   0% {
//     transform: scale(0);
//   }
//   50% {
//     transform: scale(1.5);
//   }
//   100% {
//     transform: scale(1);
//   }
// }
// @keyframes bounce-out {
//   0% {
//     transform: scale(1);
//   }
//   50% {
//     transform: scale(1.5);
//   }
//   100% {
//     transform: scale(0);
//   }
// }
