html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: var(--white-primary);
  vertical-align: middle;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 1;
  color: var(--text-color-primary);
}

*,
*::before,
*::after,
button,
ul,
li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  background: none;
  border: none;
  list-style: none;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.loader-place-br {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.no-info {
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-fifthly);
}

.link {
  color: var(--blue-primary);
  text-decoration: underline;
  transition: 0.25s ease;
}

.link:hover {
  color: var(--red-primary);
}

/* Transitions */

.list-enter-active,
.list-leave-active {
  transition: all 0.25s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.error-enter-active,
.error-leave-active {
  transition: all 0.25s ease;
}
.error-enter-from,
.error-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.25s ease-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}
